body {
 font-family: Open Sans;
 margin: 0;
 width: 100%;
 overflow: hidden;
}

header {

	color: white;
	padding: 2vh;
	background-color: blue;
	box-shadow: 0px 15px 10px -15px #111;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20vh;
  /* background-color: #f1f1f1; /* Imposta il colore di sfondo */
}

	
li a {
  width: 40vh; 
  font-size: 3.7vh;
  display: block;
  color: #000;
  padding: 17.3%;
  border: 0.2vh solid black;
  background-color: cyan;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
  text-decoration: none;
}

.lang {
	width: 12vh;
	position: relative;
	bottom: 9vh;
	right: 10vh;
	float: right;
}

.imag {
	width: 70px;
}

.cool {
color: white;
}

label {
padding-left: 1vh;
padding-right: 0.5vh;
}

.lig:hover {
background-color: #F5F5F5;
}



